  body
  {
    text-align: center;
    color: rgb(218, 43, 43);
    background: rgb(195, 192, 255); 
  }

  .heading
  {
     width: 80%;
     font-size: 22px;
  }

  #camera 
  {
    margin: auto;
    border: 2px dashed black;
     width: 350px;
     height: 300px; 
  }

  .nomeDosObjetos
  {
    color: yellow;
  }

  #resultObjectName{
    background-color: yellow;
    width: 60px;
     height: 50px;
  }

  #resultObjectAccuracy{
    background-color: yellow;
    width: 63px;
     height: 50px;
  }